.container {
    position: relative;
    height: 100vh;
  }
  
  .entire-nav {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .drawer-container {
    background-color: antiquewhite;
    border-radius: 0%;
    height: 100vh;
    width: 25%;
  }
  
  .button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .btn {
    background-color: #484547;
    &:hover {
      background-color: #484547;
    }
  }
  
  .arrow {
    color: white;
  }
  