<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" [opened]="isOpend" class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <span class="title">Starater Project</span> <!-- Add logo or title if needed -->
            </div>
            <nav class="sidebar-nav">
                <a mat-button class="nav-item" [ngClass]="{'active' : (isSidePageSelected == 'Dashboard')}"
                    (click)="home()">
                    <!-- <mat-icon>dashboard</mat-icon> -->
                    <span>Dashboard</span>
                </a>
                <a *ngIf="isLoggedin" mat-button class="nav-item"
                    [ngClass]="{'active' : (isSidePageSelected == 'employees')}" (click)="employees()">
                    <!-- <mat-icon>group</mat-icon> -->
                    <span>Employees</span>
                </a>
                <a *ngIf="isLoggedin" mat-button class="nav-item"
                    [ngClass]="{'active' : (isSidePageSelected == 'profile')}" (click)="profile()">
                    <!-- <mat-icon>group</mat-icon> -->
                    <span>Profile</span>
                </a>
                
                <a *ngIf="!isLoggedin" mat-button class="nav-item" 
                    [ngClass]="{'active' : (isSidePageSelected == 'login')}" (click)="login()">
                    <!-- <mat-icon>group</mat-icon> -->
                    <span>Login</span>
                </a>
                
                <!-- Add more nav items as needed -->
            </nav>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar></app-navbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-content>
</mat-drawer-container>