<div class="main-div">
    <div class="main-sub-div">
        <div class="main-div-content">
            <div class="title"><span>Profile Page</span></div>
            <div class="content">
                <div>
                    <span class="tags">
                        Email:
                    </span>
                    <span class="email">
                        {{email}}
                    </span>
                </div>
                <div>
                    <span class="tags">
                        Token:
                    </span>
                    <span class="email">
                        {{token}}
                    </span>
                </div>
                <div>
                    <button mat-raised-button class="logout-btn" (click)="onLogout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>