// Main container div styling
.main-div {
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wel-div{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(2, 10, 11);
}



